.headp{
	width: 100%;
	height: 30px;
	background: #F1F1F1;
}
.head{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
	background: #F1F1F1;
	font-size: 12px;
	color: #666;
	font-family: Arial,Verdana,瀹嬩綋;
	font-weight: normal;
	font-style: normal;
	overflow: hidden;
	line-height: 30px;
}
.head a{
	font-size: 12px;
	color: #666;
	font-family: Arial,Verdana,瀹嬩綋;
	font-weight: normal;
	font-style: normal;
}
.head .zc{
	color: #c81623;
}
.head_l{
	float: left;
	cursor: pointer;
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	padding: 0 10px 0 10px;
}
.head_l em{
	display: inline-block;
	transition: all 0.2s linear;
}
/* .head_l:hover em{
	transform: rotateZ(-180deg);
} */
/* 城市切换 部分 */
.head_b{
	width: 1210px;
	height: 108px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	position: relative;
	overflow: hidden;
}
.head_b_l{
	width: 280px;
	overflow: hidden;
	/* border: 1px solid #ddd; */
	padding: 10px 0 10px 10px;
	display: none;
	position: absolute;
	top: 30px;
	z-index: 10;
}
.head_b_l{
	float: left;
	text-align: left;
}
.head_b_l a{
	display: inline-block;
	width: 50px;
	height: 24px;
	color: #666;
	text-align: center;
	line-height: 24px;
}
.head_b_l a:hover{
	background: #ddd;
	color: #c81623;
}
.head_b_l .show:hover{
	background:  #c81623;
	color: #fff;
}
.line{
	width: 198px;
	height: 1px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #ddd;
	/* z-index: 5; */
}
.head_b_l .show{
	background: #c81623;
	color: #fff;
}
.head_r{
	float: right;
	overflow: hidden;
}
.head_r li{
	float: left;
	padding: 0 10px;
}
.head_r .sx{
	color: #ddd;
	padding: 0 0;
}
.dw{
	width: 1210px;
	margin: 0 auto;
	position: relative;
}

/* 我的京东 部分 */
.head_r .wdjdp{
	padding: 0 0;
	margin: 0 6px;
	width: 70px;
	text-align: center;
}
.wdjd{
	width: 270px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: absolute;
	top: 30px;
	padding: 15px;
	display: none;
	z-index: 30;
	background: #fff;
}
.wdjd_t_l{
	float: left;
	width: 62px;
	height: 62px;
	background: url(head/dl.png) 0 0 no-repeat;
}
.wdjd_t_r{
	float: left;
	padding-left: 8px;
}
.wdjd_t{
	overflow: hidden;
}
.wdjd_t_r .qdl{
	font-size: 12px;
	/* color: #666; */
	font-weight: bold;
}
.nh:hover,.wddd a:hover,.wdjdt a:hover,.yhq a:hover,.jdhy a:hover,.qycg a:hover{
	color: #c81623;
}
.qdlt{
	width: 76px;
	height: 16px;
}
.yhq{
	padding-top: 8px;
}
.wdjd_b_l{
	float: left;
	text-align: left;
}
.wdjd_b_l a{
	display: inline-block;
	width: 126px;
	height: 24px;
}
.wdjd_b a:hover{
	color: #c81623;
}
.wdjd_b_r{
	float: left;
}
.wdjd_b{
	overflow: hidden;
	padding-top: 10px;
}
.wdjdt{
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	/* position: relative; */
}
.line2{
	width: 232px;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 68px;
	background: #ddd;
	display : none;
}
.wdjdt em{
	display: inline-block;
	transition: all 0.2s linear;
}
.wdjdp:hover .wdjdt em{
	transform: rotateZ(180deg);
}

/* 手机京东 部分 */
.sj_b{
	width: 250px;
	height: 195px;
	/* background: url(head/sj2.jpg) 0 0 no-repeat; */
	position: absolute;
	top: 30px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: none;
	background: #fff;
	z-index: 10;
}
.head_r .sj{
	width: 82px;
	height: 30px;
	padding: 0 5px;
}
.sj_t{
	width: 80px;
	height: 30px;
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	text-align: right;
	/* background: url(head/sjb.png) 0px 7px no-repeat; */
	overflow: hidden;
}
.sj_t em{
	display: inline-block;
	float: right;
}
.sj_t_tp{
	position: absolute;
	left: 6px;
	top: 3px;
	display: none;
}
.sj_t{
	position: relative;
}
.sj_t em{
	display: inline-block;
	transition: all 0.2s linear;
}
.sj:hover .sj_t em{
	transform: rotateZ(180deg);
}
.line3{
	width: 170px;
	height: 1px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #ddd;
}

/* 关注京东 部分 */
.gzjd_t{
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}
.gzjd_b{
	position: absolute;
	top: 30px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: none;
	background: #fff;
	z-index: 10;
}
.head_r .gzjdp{
	padding: 0 2px;
	width: 84px;
	text-align: center;
}
.gzjd_t em{
	display: inline-block;
	transition: all 0.2s linear;
}
.gzjdp:hover .gzjd_t em{
	transform: rotateZ(180deg);
}

/* 客户服务 部分 */
.khfw_t{
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}
.khfw_t a{
	margin: 0 10px;
}
.khfw_b{
	width: 150px;
	position: absolute;
	top: 30px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: none;
	background: #fff;
	z-index: 10;
}
.khfw_b a:hover{
	color: #c81623;
}
.khfw_b_t_l{
	float: left;
	width: 70px;
	padding-left: 10px;
}
.khfw_b_t_r{
	float: left;
	width: 70px;
}
.khfw_b_t{
	overflow: hidden;
	border-bottom: 1px dashed #ddd;
}
.khfw_b_t p{
	font-weight: bold;
	padding-left: 10px;
}
.khfw_b_b{
	padding-left: 10px;
}
.khfw_b_b p{
	font-weight: bold;
}
.sjrz{
	padding-left: 10px;
}
.head_r .khfwp{
	padding: 0;
}
.khfw_t em{
	display: inline-block;
	transition: all 0.2s linear;
}
.khfwp:hover .khfw_t em{
	transform: rotateZ(180deg);
}
.line4{
	width: 70px;
	height: 1px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #ddd;
}

/* 网站导航 部分 */
.wzdh_b{
	width: 1208px;
	position: absolute;
	top: 30px;
	left: 0px;
	padding: 20px 0 16px 0;
	/* margin-top: 1px; */
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: none;
	overflow: hidden;
	background: #fff;
	z-index: 10;
}
.head_r .wzdhp{
	padding: 0;
}
/* 特色主题 */
.tezt{
	width: 346px;
	overflow: hidden;
	padding-left: 20px;
	border-right: 1px solid #ddd;
	float: left;
}
.tezt .nr1{
	float: left;
	width: 86px;
	height: 24px;
}
.tezt a:hover,.hypd a:hover,.shfw a:hover,.gdjx a:hover{
	color: #c81623;
}
.tezt dt,.hypd dt,.shfw dt,.gdjx dt{
	font-size: 14px;
	font-weight: 700;
}
/* 行业频道 */
.hypd{
	width: 259px;
	padding-left: 20px;
	overflow: hidden;
	border-right: 1px solid #ddd;
	float: left;
}
.hypd .nr2{
	float: left;
	width: 86px;
	height: 24px;
}
/* 生活服务 */
.shfw{
	width: 259px;
	padding-left: 20px;
	overflow: hidden;
	border-right: 1px solid #ddd;
	float: left;
}
.shfw .nr3{
	float: left;
	width: 86px;
	height: 24px;
}
/* 更多精选 */
.gdjx{
	width: 259px;
	padding-left: 20px;
	overflow: hidden;
	float: left;
}
.gdjx .nr4{
	float: left;
	width: 86px;
	height: 24px;
}
.line5{
	width: 1128px;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0;
	background: #ddd;
	z-index: 10;
}
.wzdh_t{
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}
.wzdh_t a{
	margin: 0 10px;
}
.wzdh_t a:hover{
	color: #c81623;
}
.wzdh_t em{
	display: inline-block;
	transition: all 0.2s linear;
}
.wzdhp:hover .wzdh_t em{
	transform: rotateZ(180deg);
}

								/* 表头完结 */



  	
							/* logo输入框部分 */
.head_b1{
	float: left;
	margin-right: 90px;
}
.head_b2{
	float: left;
}
.head_b2_t{
	overflow: hidden;
}
.ipt{
	width: 446px;
	height: 24px;
	padding: 4px;
	border: 2px solid #B61D1D;
	float: left;
}
.head_b2_t span{
	display: inline-block;
	width: 82px;
	height: 36px;
	font-size: 16px;
	background: #B61D1D;
	color: #fff;
	font-family: 微软雅黑;
	float: left;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.head_b2_b a{
	font-family: Arial, Verdana, 宋体;
	color: #666;
	margin-right: 4px;
}
.head_b2_b{
	margin-top: 6px;
}
.head_b2_b .dz5z{
	color: #c81623;
}
.head_b3{
	float: right;
	background: #f1f1f1;
	width: 141px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	margin-right: 59px;
	position: relative;
}
.head_b3_t{
	border: 1px solid #ddd;
	position: relative;
	/* border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd; */
}
.head_b3_b img{
	width: 57px;
	height: 48px;
	margin-top: 1px;
}
.head_b3_t a{
	font-family: Arial, Verdana, 宋体;
	color: #666;
	cursor: pointer;
}
.head_b3_t a:hover{
	color: #c81623;
}
.head_b3_b{
	width: 278px;
	height: 49px;
	padding: 10px 15px;
	position: absolute;
	top: 37px;
	right: 0px;
	overflow: hidden;
	line-height: 49px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #FFF;
	display: none;
	z-index: 50;
}
.head_b3_b span{
	display: inline-block;
	font-family: Arial, Verdana, 宋体;
	color: #999;
	float: right;
}
.line0{
	width: 170px;
	height: 1px;
	background: #ddd;
	position: absolute;
	top: 35px;
	left: -170px;
	display: none;
}
.zero{
	width: 15px;
	height: 15px;
	display: inline-block;
	color: #fff;
	background: #c81623;
	text-align: center;
	line-height: 16px;
	border-radius: 7px 7px 7px 0;
	font-family: 微软雅黑;
	position: absolute;
	top: -4px;
	right: 20px;
}

               			/* logo下面 */
.con_tp{
	width: 100%;
	border-bottom: 2px solid #B1191A;
}
.con_t{
	width: 1210px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	position: relative;
	/* overflow: hidden; */
}
.con_t_l{
	float: left;
}
.con_t_l a{
	display: inline-block;
    width: 190px;
    height: 44px;
    font-size: 15px;
    font-weight: 400;
    font-family: 微软雅黑;
    line-height: 44px;
    padding: 0 10px;
    background: #B1191A;
    color: #fff;
}
.con_t_r{
	float: left;
	overflow: hidden;
}
.clear{
	clear: both;
}
.con_t_r li{
	float: left;
}
.con_t_r li a{
	display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    font-family: 微软雅黑;
    padding: 0 20px;
}
.adv{
	float: right;
	width: 160px;
    height: 40px;
    position: absolute;
    right: 55px;
    top: -9px;
    z-index: 5;
    
}
.adv a{
	display: block;
	width: 160px;
    height: 40px;
    background: url(head/adv.png) 0px 0px no-repeat;
}
.con_t_r li a:hover{
	color: #c81623;
}


             				/* 图片滚动部分 */
.conp{
	background: #f6f6f6;
}
.con{
	width: 1210px;
	margin: 0 auto;
	/* overflow: hidden; */
}
.con_clear{
	clear: both;
}
.li1 h3{
	float: left;
	font-family: microsoft yahei;
	padding: 0 10px;
	font-size: 14px;
}
.li1 h3 a{
	color: #fff;
}
.li1 span{
	float: right;
	color: #fff;
}
.li1{
	width: 209px;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	/* border-left: 1px solid #C81623; */
}
.con_l{
	float: left;
	/* border: 1px solid #c81623; */
	border-left: 1px solid #C81623;
	padding: 15px 0;
	background: #c81623;
}
.con_m{
	/* width: 730px; */
	/* height: 454px; */
	float: left;
	/* margin: 12px 12px 0 12px; */
	position: relative;
}
.inner li{
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
.inner .show2{
	display: block;
}
.outerp{
	margin: 12px 12px 0 12px;
	position: relative;
}
.outer{
	width: 730px;
	height: 454px;
	overflow: hidden;
	cursor: pointer;
}
.inner{
	width: 4380px;
	height: 454px;
	position: relative;
}
.left,.right{
	width: 28px;
	height: 62px;
	background: rgba(0,0,0,.2);
	text-align: center;
	line-height: 62px;
	color: #fff;
	font-size: 25px;
	display: none;
}
.left{
	position: absolute;
	left: 0px;
	top: 196px;
	cursor: pointer;
}
.right{
	position: absolute;
	right: 0px;
	top: 196px;
	cursor: pointer;
}
.num li{
	width: 18px;
	height: 18px;
	background: #3e3e3e;
	color: #fff;
	border-radius: 50%;
	float: left;
	margin: 0 2px;
	text-align: center;
	line-height: 18px;
	font-family: 微软雅黑;
	cursor: pointer;
}
.num .show{
	background: #b61b1f;
}
.num{
	overflow: hidden;
	position: absolute;
	left: 278px;
	bottom: 20px;
}


						/* 左侧弹框 */
.con_l_con1p{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}
.con_l_con1{
	width: 960px;
	border-bottom: 1px solid #c81623;
	border-right: 1px solid #c81623;
	background: #fff;
	overflow: hidden;
	padding: 20px;
	display: none;
}
.con_l_con1_l_t a{
	display: inline-block;
	font-family: 微软雅黑;
	background: #7c7171;
	color: #fff;
	/* padding: 4px 8px; */
	padding: 0 0 0 8px;
	margin-right: 8px;
	text-align: center;
}
.con_l_con1_l_t span{
	display: inline-block;
	width: 23px;
	height: 24px;
	line-height: 24px;
	font-family: 微软雅黑;
	background: #5c5251;
	color: #fff;
	margin-left: 8px;
}
.con_l_con1_l_b{
	padding: 8px 0 0 10px;
}
.con_l_con1_l_b a:hover{
	color: #C81623;
}
.dl dt{
	width: 58px;
	line-height: 2em;
	float: left;
	text-align: right;
	padding: 6px 26px 0 0;
	font-family: 微软雅黑;
	font-weight: 700;
}
.dl dt a{
	color: #666;
}
.dl dd{
	float: left;
	width: 620px;
	padding: 4px 0;
	line-height: 2em;
	font-family: 微软雅黑;
	color: #666;
	border-bottom: 1px solid #EEEEEE;
	overflow: hidden;
}
.dl dd a{
	color: #666;
	height: 16px;
	line-height: 16px;
	border-left: 1px solid #e0e0e0;
	margin: 4px 0;
	padding: 0 8px;
	float: left;
}
.dl{
	overflow: hidden;
}


.con_l_con1_l{
	float: left;
}
.con_l_con1_r{
	float: right;
	text-align: right;
}

/* 右边部分 */
.con_l_con1_r_t{
	width: 178px;
	overflow: hidden;
}
.con_l_con1_r_t a{
	float: left;
	margin-left: 3px;
}
.con_l_con1_r_b{
	width: 168px;
	margin-top: 10px;
	margin-left: 4px;
}


					/* 图片滚动右边 */

.con_r{
	width: 240px;
	float: right;
	background: #fff;
}
.con_r_t{
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 10px 0 10px;
}
.con_r_tt_l{
	width: 62px;
	height: 62px;
	background: url(content/dl.png) 0px 0px no-repeat;
	/* border-radius: 50%; */
	float: left;
	/* margin: 10px 10px 0 10px; */
}
.con_r_tt_r{
	float: left;
	margin: 5px 0 0 30px; 
}
.con_r_tt_r p{
	font-family: 微软雅黑;
	color: #9a9a9a;
	margin-top: 5px;
}
.con_r_tt_r a{
	font-family: 微软雅黑;
	color: #000;
}
.con_r_tt_r a:hover{
	color: #e01222;
}
.con_r_tt{
	overflow: hidden;
}
.con_r_tb a{
	display: inline-block;
	width: 70px;
	height: 20px;
	font-family: 微软雅黑;
	color: #e01222;
	border: 2px solid #e01222;
	text-align: center;
	line-height: 20px;
	margin: 10px;
}
.con_r_tb a:hover{
	background: #e01222;
	color: #fff;
}


.con_r_m{
	padding: 0 15px;
	border-bottom: 1px solid #e6e6e6;
}
.con_r_mt{
	padding: 8px 0 4px 0;
	font-family: 微软雅黑;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}
.con_r_mt a{
	position: absolute;
	right: 0px;
	color: #666;
}
.con_r_mt span:nth-child(1){
	border-right: 1px solid #e6e6e6;
	padding-right: 15px;
	cursor: pointer;
}
.con_r_mt span:nth-child(2){
	padding-left: 15px;
	cursor: pointer;
}
.con_r_mb{
	padding: 12px 0;
}
.con_r_mb a{
	color: #666;
	font-family: 微软雅黑;
}
.con_r_mb li p{
	width: 160px;
	height: 22px;
	line-height: 22px;
}
.morethan{
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap;
}
.con_r_mb li{
	display: none;
}
.con_r_mb .appear{
	display: block;
}
.slide{
	width: 30px;
	height: 2px;
	background: #db192b;
	position: absolute;
	left: 0px;
	bottom: 0px;
	transition: all 0.3s linear;	
}
.con_r_b ol{
	float: left;
}
.con_r_b{
	overflow: hidden;
	padding: 10px;
	position: relative;
	height: 210px;
} 
.con_r_bt{
	height: 160px;
}
.con_r_b a{
	display: inline-block;
	width: 50px;
	text-align: center;
}
.con_r_b li{
	float: left;
	margin-left: 3px;
}
.con_r_b dd{
	color: #666;
}
.dt1{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) 12px -77px no-repeat;
}
.dt2{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) 13px -32px no-repeat;
}
.dt3{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -35px -30px no-repeat;
}
.dt4{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -76px 14px no-repeat;
}
.dt5{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -77px -32px no-repeat;
}
.dt6{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) 13px 8px no-repeat;
}
.dt7{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -33px -76px no-repeat;
}
.dt8{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -75px -76px no-repeat;
}
.dt9{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -118px 11px no-repeat;
}
.dt10{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -116px -32px no-repeat;
}
.dt11{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -120px -74px no-repeat;
}
.dt12{
	width: 40px;
	height: 40px;
	background: url(content/jp.png) -31px 14px no-repeat;
}
.con_r_bb1{
	margin-top: 10px;
}
.con_r_bb1 li{
	width: 49px;
	height: 20px;
	color: #666;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.con_r_bb1 li:nth-child(1),.con_r_bb1 li:nth-child(2),.con_r_bb1 li:nth-child(3){
	border-right: 1px solid #e7e7e7;
}
.con_r_bb2{
	position: relative;
}
.huafei em{
	display: inline-block;
	width: 50px;
	height: 21px;
	margin-left: 5px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
.huafei .bgt{
	width: 52px;
	height: 22px;
	background: url(content/kuang.png) 0 0 no-repeat;
	color: #fff;
}
.huafei_bp input{
	width: 110px;
	/* margin-top: 10px; */
}
#mz,#ll,#ll2,#yf{
	margin-top: 10px;
}
.ks{
	width: 85px;
	height: 25px;
	background: #e01222;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin: 10px 0;
}
.gb{
	position: absolute;
	right: -12px;
	top: 14px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}

/* 流量 */
.huafei_bp li{
	display: none;
}
.huafei_bp .huafei_b{
	display: block;
}

/* 机票 */
.jipiao{
	width: 230px;
}
.jipiao_bp{
	width: 200px;
	overflow: auto;
}
.jipiao_bp_inner{
	width: 690px;
	overflow: hidden;
	transition: all 0.3s linear;
}
.jipiao_bp li{
	width: 210px;
	margin: 6px 0;
	/* display: none; */
	/* margin-left: 10px; */
	float: left;
	/* transition: all 1s linear; */
}
.jipiao_bp li:nth-child(1){
	margin-top: 10px;
}
.jipiao_bp .show00{
	display: block;
}
.jipiao .bgt{
	width: 70px;
	height: 25px;
	background: url(content/kuang.png) 0 0 no-repeat;
	color: #fff;
}
.jipiao em{
	display: inline-block;
	width: 70px;
	height: 21px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
/* 电影票 */
.dianying .bgt{
	width: 52px;
	height: 22px;
	background: url(content/kuang.png) 0 0 no-repeat;
	color: #fff;
}
.dianying em{
	display: inline-block;
	width: 50px;
	height: 21px;
	margin-left: 5px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
.dianying_bp li{
	display: none;
}
.dianying_bp .show000{
	display: block;
}
/* 游戏 */
.show0000 input,.game_bp li:nth-child(2) input{
	margin: 10px 0;
}
.game em{
	display: inline-block;
	width: 50px;
	height: 21px;
	margin-left: 5px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
.game .bgt{
	width: 52px;
	height: 22px;
	background: url(content/kuang.png) 0 0 no-repeat;
	color: #fff;
}
.game_bp li{
	display: none;
}
.game_bp .show0000{
	display: block;
}

/* 效果实现 */
.con_r_bb2,.con_r_bb3,.con_r_bb4,.con_r_bb5{
	display: none;
	padding: 10px;
}
.con_r_bb0 .cx{
	display: block;
}
.tabp{
	height: 220px;
	background: #fff;
	/* display: none; */
	transition: all 0.4s linear;
	position: relative;
	margin-top: 50px;
}
.con_r_bb1 .hs{
	border-top: 2px solid red;
}

 					/* 上半部分完结 */
.con_p{
	background: #f6f6f6;
	padding-top: 10px;
}
.con1t{
	width: 1190px;
	height: 55px;
	margin: 0 auto;
	background: url(con1/ms.png) 0 0 no-repeat;
	overflow: hidden;
}
.con1t_l{
	float: left;
}
.con1t_r{
	float: right;
}
.con1t_r span{
	font-size: 14px;
	color: #fff;
	font-family: 微软雅黑;
}
.con1t_r var{
	display: inline-block;
	margin: 10px 5px;
	font-size: 24px;
}
.con1t_r em{
	display: inline-block;
	width: 36px;
	height: 39px;
	color: #f90013;
	text-align: center;
	line-height: 39px;
	font-family: 微软雅黑;
	background: #440106;
	border-radius: 5px;
}

									/* 秒杀下面con1部分 */
.con1{
	width: 1190px;
	margin: 0 auto;
	padding: 10px 0;
	background: #fff;
	overflow: hidden;
}
.con1_l li{
	float: left;
}
.con1_l{
	overflow: hidden;
	float: left;
}
.con1_l li:nth-child(1),.con1_l li:nth-child(2),.con1_l li:nth-child(3),.con1_l li:nth-child(4){
	border-right: 1px solid #e7e7e7;
}
.con1_css{
	width: 170px;
	height: 225px;
	padding: 0 14px;
}
.con1_css img{
	width: 130px;
	height: 130px;
	margin: 17px 0;
	transition: all 0.2s linear;
}
.con1_css a{
	text-align: center;
}
.con1_css a p{
	text-align: left;
}
.con1_l_t{
	color: #999;
	position: relative;
}
.con1_l_b{
	text-align: left;
	height: 25px;
	line-height: 25px;
	padding: 3px 0;
}
.con1_l_b span{
	font-size: 18px;
	color: #f10214;
	font-family: 微软雅黑;
	font-weight: 700;
}
.con1_l_b span var{
	font-size: 12px;
	color: #f10214;
}
.con1_l_b em{
	color: #999;
	font-family: 微软雅黑;
	text-decoration: line-through;
}
.zbg{
	width: 30px;
	height: 40px;
	background: url(con1/bt.png) 0 0 no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #fff;
	font-family: 微软雅黑;
}
.zbg2{
	width: 30px;
	height: 40px;
	background: url(con1/bt.png) 0 0 no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #fff;
	font-family: 微软雅黑;
	line-height: 40px;
}
.con1_r{
	float: right;
	margin-right: 10px;
}
								/* con2部分 */
.con2{
	width: 100%;
	height: 540px;
	margin: 0 auto;
	background: url(con2/bg.png) -107px 0px no-repeat;
	/* background-size: cover; */
}
.con2_con{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	/* padding-top: 20px; */
}
.con2_l{
	display: block;
	width: 190px;
	height: 460px;	
	margin-right: 10px;
}
.con2_l,.con2_m,.con2_r{
	float: left;
	margin-top: 40px;
}
.con2_m{
	width: 800px;
	overflow: hidden;
}
.con2_m li{
	width: 190px;
	height: 224px;
	float: left;
	margin: 0 10px 10px 0;
	transition: all 0.3s linear;
}

.con2_r li{
	width: 180px;
	height: 107px;
	margin-bottom: 10px;
	transition: all 0.3s linear;
}

						/* con3部分 左*/
.con3{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.con3_l{
	width: 390px;
	height: 444px;
	margin-right: 10px;
}
.con3_l_t{
	width: 340px;
	height: 55px;
	padding: 0 20px 0 30px;
	background: #3c8e97;
	overflow: hidden;
	line-height: 55px;
	/* border-top-left-radius: 32px; */
	
}
.con3_l_t span,.con3_m_t span,.con3_r_t span{
	float: left;
	font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}
.con3_l_t a,.con3_m_t a,.con3_r_t a{
	float: right;
	color: #fff;
	font-family: 微软雅黑;
	overflow: hidden;
}
.con3_l_t a img,.con3_m_t a img,.con3_r_t a img{
	float: right;
	margin-top: 18px;
	margin-left: 5px;
}
.con3_l_b{
	width: 370px;
	height: 369px;
	padding: 10px;
	background: #fff;
}
.con3_l_bb{
	overflow: hidden;
}
.con3_l_bb li{
	width: 185px;
	height: 120px;
	float: left;
	position: relative;
}
.con3_l_bb li:nth-child(1),.con3_l_bb li:nth-child(3){
	width: 184px;
	height: 119px;
	border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.con3_l_bb li:nth-child(2),.con3_l_bb li:nth-child(4){
	width: 185px;
	height: 119px;
	border-bottom: 1px solid #e7e7e7;
}
.con3_l_bb li:nth-child(5){
	width: 184px;
	height: 120px;
	border-right: 1px solid #e7e7e7;
}
.con3_l_bb a{
	display: inline-block;
	width: 185px;
	height: 120px;
}
.con3_l_bb p{
	font-size: 14px;
    color: #4998a1;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80px;
    line-height: 20px;
    font-family: 微软雅黑;
}
.con3_l_bb img{
	width: 80px;
	height: 80px;
	position: absolute;
    bottom: 5px;
    right: 10px;
    width: 80px;
    height: 80px;
    transition: all 0.3s linear;
}

						/* con3部分 中*/
.con3_l,.con3_m,.con3_r{
	float: left;
}
.con3_m{
	margin-right: 10px;
}
.con3_m_t{
	width: 340px;
	height: 55px;
	padding: 0 20px 0 30px;
	background: #772454;
	overflow: hidden;
	line-height: 55px;
}
.con3_m_b{
	width: 370px;
	height: 369px;
	background: #fff;
	padding: 10px;
}
.con3_m_b_ta1{
	display: inline-block;
	width: 139px;
	height: 202px;
	padding: 15px 22px 10px 23px;
	float: left;
}
.con3_m_b_t a:nth-child(1){
	border-right: 1px solid #e7e7e7;
}
.con3_m_b_ta1 li:nth-child(1){
	font-family: 微软雅黑;
	font-size: 16px;
    color: #8b3a6d;
    margin-bottom: 10px;
    line-height: 18px;
    height: 18px;
}
.con3_m_b_ta1 li:nth-child(2){
	font-family: 微软雅黑;
	color: #666;
    height: 36px;
    margin-bottom: 8px;
}
.con3_m_b_ta1 li:nth-child(3){
	width: 19px;
	height: 3px;
	margin-bottom: 12px;
	background: #8b3a6d;
}
.con3_m_b_t{
	overflow: hidden;
	margin-bottom: 12px;
}
.con3_m_b_ta1 img{
	transition: all 0.3s linear;
}
							
							/* con3部分右*/
.con3_r_t{
	width: 340px;
	height: 55px;
	padding: 0 20px 0 30px;
	background: #e77005;
	overflow: hidden;
	line-height: 55px;
}
.con3_r_b{
	width: 390px;
	height: 389px;
	background: #fff;
}

.con3_r_b_tab_t{
	width: 370px;
	height: 18px;
	margin: 0 10px;
	padding: 6px 0 7px 0; 
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}
.con3_r_b_tab_t a{
	display: inline-block;
	width: 72px;
	height: 18px;
	float: left;
	font-family: 微软雅黑;
	color: #666;
	font-size: 14px;
}
.con3_r_b_tab_t a:hover{
	color: #c81623;
}
.con3_r_b_tab_t a:nth-child(1),.con3_r_b_tab_t a:nth-child(2),.con3_r_b_tab_t a:nth-child(3),.con3_r_b_tab_t a:nth-child(4){
	border-right: 1px solid #d2d1d1;
}
.bd{
	width: 58px;
	height: 2px;
	background: #f10214;
	position: absolute;
	left: 8px;
	bottom: 0px;
	transition: all .3s linear;
}
.con3_r_b_tab_b{
	width: 370px;
	height: 335px;
	padding: 10px;
}
.mobile li{
	width: 122px;
	height: 142px;
	padding: 12px 0;
	float: left;
}
/* .mobile li p:hover{
	color: #c81623;
} */
.mobile li p{
	color: #666;
	font-family: 微软雅黑;
	width: 100px;
	height: 32px;
	padding: 0 11px;
	overflow: hidden;

}
.mobile{
	overflow: hidden;
}
.con3_r_b_tab_b ol{
	display: none;
}
.con3_r_b_tab_b .mobile2{
	display: block;
}
.con3_r_b_tab_b ol img{
	width: 100px;
	height: 100px;
}
						/* con4部分 */
.con4{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.con4_l{
	float: left;
	width: 190px;
    height: 215px;
    background: #ea3524;
}
.con4_r{
	float: left;
}
.con4_l a{
	display: inline-block;
	width: 140px;
	height: 165px;
	padding: 25px;
}
.con4_l a h3{
	font-size: 30px;
	color: #fff;
	font-family: fzzhengheis-el-gbregular;
}
.con4_l a em{
	display: block;
	width: 55px;
	height: 3px;
	background: #fff;
	margin: 8px 0 20px 0;
}
.con4_l a p{
	font-family: 微软雅黑;
	color: #fff;
	height: 20px;
	line-height: 20px;
}
.con4_l a span{
	display: block;
	width: 86px;
	margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 20px;
    border: 2px solid #fff;
    line-height: 20px;
    position: absolute;
    color: #fff;
}
.con4_l a span img{
	position: absolute;
	right: 15px;
    top: 5px;
}
.con4_r{
	width: 1000px;
	height: 195px;
	padding: 10px 0;
	background: #fff;
	overflow: hidden;
}
.con4_r li{
	float: left;
}
.con4_r_li{
	width: 199px;
	height: 195px;
	position: relative;
}
.con4_r1{
	position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 100px;
    border-top: 3px solid #e93524;
    background-color: #fff;
}
.con4_r1 dl dt{
	margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
    color: #f10214;
    font-family: 微软雅黑;
}
.con4_r1 dl dt em{
	margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.con4_r1 .dd1{
	color: #e93524;
	line-height: 20px;
	font-family: 微软雅黑;
}
.con4_r1 .dd2{
	width: 80px;
	height: 36px;
	padding: 15px 10px;
	background: #e7e7e7;
	color: #666;
	font-family: 微软雅黑;
}
.con4_r1 .dd3{
	width: 100px;
	height: 26px;
	background: #e93524;
	text-align: center;
    color: #fff;
    line-height: 26px;
}
.con4_r_li img{
	position: absolute;
    right: 15px;
    top: 25px;
    transition: all 0.3s linear;
}

								/* con5部分 */
.con5{
	width: 100%;
	height: 100px;
	background: #e0e0e0;
}
.con5_con{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.con5_con li{
	float: left;
}
.con5_con a{
	display: inline-block;
	width: 396px;
	height: 100px;
}
.con5_con a{
	transition: all .2s linear;
}

							/* 右侧 */
.offsidep{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	border-right: 6px solid #7a6e6e;
	z-index: 1;
}
.offside{
	position: absolute;
	top: 50%;
	right: -6px;
}
.offside_t li,.offside_b li{
	/* background: #7a6e6e; */
	position: relative;
	z-index: 10;
}
.offside_t div,.offside_b div{
	width: 35px;
	height: 35px;
	background: #7a6e6e;
	text-align: center;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
	margin-bottom: 2px;
}
.offside_t div img,.offside_b div img{
	display: inline-block;
	margin-top: 8px;
}
.offside_t li em,.offside_b li em{
	width: 62px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    z-index: -10;
    left: 35px;
    top: 0px;
    background: #7a6e6e;
    border-radius: 3px 0px 0px 3px;
    transition: all 0.5s ease-in-out;
}
.offside_b{
	margin-top: 10px;
}
.tt{
	position: fixed;
	top: -52px;
	transition: all 0.3s linear;
}
