                            /* 头部 */
#head{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 15px;
}
#head_left,#head_right{
	float: left;
}
#head_right_t{
	width: 560px;
	overflow: hidden;
	position: relative;
	margin: 10px 0 0 275px;
}
#phone{
	float: left;
	position: absolute;
	top: 5px;
}
#lock{
	position: absolute;
	top: 0;
}
#ipt{
	width: 154px;
	height: 26px;
	border: 1px solid #3c3c3c;
}
#search{
	float: right;
	width: 34px;
	height: 28px;
	background: url(images/search.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 17px;
	cursor: pointer;
}
#head_right_t .span,#head_right_t .em{
	border-right: 2px solid #3c3c3c;
}
#head_right_t .em,#head_right_t .var{
	font-family: 微软雅黑;
	font-size: 14px;
	padding: 0 14px 0 10px;
	cursor: pointer;
}
#head_right_t .var{
	margin-left: 24px;
}
#head_right_t .span{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #ffa000;
	padding: 0 10px 0 10px;
	margin-left: 15px;
}



#head_right_b img,#head_right_b a{
	float: left;
}
#head_right{
	overflow: hidden;
}
#head_right_b{
	margin: 30px 0 0 30px;
}
#head_right_b a{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #3c3c3c;
	font-weight: bold;
	margin-left: 36px;
}
#house{
	margin-right: 15px;
}
#line{
	border-bottom: 4px solid #176fbb;
	margin-top: 8px;
}



.con{
	width: 1040px;
	margin: 0 auto;
	overflow: hidden;
}
.con_tt{
	font-family: 微软雅黑 ;
	font-size: 14px;
	color: #3c3c3c;
	margin: 20px 0;
}
.con_t{
	width: 1000px;
	height: 170px;
	background: url(images/glbg.jpg) 0 0 no-repeat;
	position: relative;
}
.img{
	position: absolute;
	left: 20px;
	top: 40px;
}
.con_t .span{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	left: 155px;
	top: 60px;
}
.con_t .em{
	font-family: 微软雅黑;
	font-size: 18px;
	color: #3c3c3c;
	position: absolute;
	left: 155px;
	top: 128px;
}


.tp li{
	width: 323px;
	height: 230px;
	position: relative;
	padding-left: 10px;
}
.bk1{
	width: 308px;
	height: 215px;
	border-bottom: 6px solid #dcdcdc;
	border-right: 6px solid #dcdcdc;
	position: absolute;
	left: 15px;
	top: 5px;
}
.bk2{
	width: 308px;
	height: 215px;
	border-bottom: 4px solid #bfbfbf;
	border-right: 4px solid #bfbfbf;
	position: absolute;
	left: 21px;
	top: 11px;
}
.dbk{
	width: 313px;
	height: 50px;
	background: #000000;
	opacity: 0.5;
	position: absolute;
	bottom: 10px;
	z-index: 5;
}
.tx1{
	position: absolute;
	left: 30px;
	bottom: 47px;
	z-index: 10;
}
.author{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 23px;
	bottom: 20px;
	z-index: 15;
}
.place{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 95px;
	bottom: 40px;
	z-index: 15;
}
.heart{
	width: 17px;
	height: 15px;
	background: url(images/drtcax.png) 0 0 no-repeat;
	float: left;
}
.zan .sp{
	float: left;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}
.zan{
	overflow: hidden;
	position: absolute;
	right: 100px;
	bottom: 15px;
	z-index: 15;
}
.pl{
	width: 15px;
	height: 15px;
	background: url(images/drtcpl.png) 0 0 no-repeat;
	float: left;
}
.cmt .sp{
	float: left;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}
.cmt{
	overflow: hidden;
	position: absolute;
	right: 28px;
	bottom: 15px;
	z-index: 15;
}
.jt{
	width: 54px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 11px;
	overflow: hidden;
	background: #51b23e;
	display: none;
}
.jt1{
	float: left;
	position: absolute;
	left: 2px;
	top: 10px;
	z-index: 10;
	display: none;
}
.jt2{
	float: left;
	position: absolute;
	top: 10px;
	left: 65px;
	display: none;
}
.bk{
	width: 311px;
	height: 218px;
	border: 3px solid #8bb58b;
	position: absolute;
	left: 8px;
	top: -1px;
	z-index: 5;
	display: none;
}
.tp li{
	width: 313px;
	float: left;
	margin: 0 15px 15px 0;
}
.tp{
	overflow: hidden;
}
.hc{
	width: 256px;
	height: 38px;
	font-size: 28px;
	font-family: 微软雅黑;
	color: #3c3c3c;
	border: 2px solid #51b23e;
	padding-left: 18px;
	margin-left: 10px;
}
.tp li{
	float: left;
}
.tp{
	overflow: hidden;
	margin-top: 20px;
}

.blue:hover .bk,.blue:hover .jt,.blue:hover .jt1,.blue:hover .jt2{
	display: block;
}





                               /* 尾部 */
#foot{
	background: #023c4d;
}
#foot_t{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 14px;
	padding: 15px 0 15px 0;
}
#foot_t1,#foot_t2,#foot_t3,#foot_t4{
	float: left;
	margin-left: 82px;
	line-height: 30px;
}
#foot_t4 p{
	margin-bottom: 20px;
}
#foot_t p{
	font-size: 18px;
}
#foot_t5{
	float: left;
	margin-left: 75px;
}
#dh{
	font-family: 微软雅黑;
	font-size: 28px;
	color: #fff;
}
#zx{
	height: 25px;
	width: 138px;
	background: #fff;
	border-radius: 5px;
	color: #29505e;
	text-align: center;
	margin-top: 15px;
	line-height: 25px;
}
#foot_t5 p{
	margin-top: 10px;
}
#line2{
	border-bottom: 1px solid #fff;
}
#foot_b{
	text-align: center;
	width: 1000px;
	margin: 0 auto;
	font-family: 微软雅黑;
	color: #d0d0d0;
}